body
  padding-top 100px

.navbar
  background-color #fff
  .navbar-header  a.nabvar-brand
    margin-top -15px
    margin-bottom -20px
    h6
      color #ccc

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.toast-top-right
  top 70px

.toast-success
  background-color #13987e