.container
  .jumbotron
    h1 joeymeanstack app title
    p Welcome to joeymeanstack's website dude! a place for the n00bs to chill and get mean - what's up, and welcome!

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")